
@{
    ViewData["Title"] = "Login";
}

<h1>Log In Empleados</h1>
<form method="post">
    <label>Apellido: </label>
    <input type="text" name="apellido" class="form-control"
           placeholder="Apellido"/><br/>
    <label>Id Empleado: </label>
    <input type="text" name="idempleado" class="form-control"
           placeholder="Password"/><br/>
    <button type="submit" class="btn btn-danger">
        Log In
    </button>
</form>
<h1 style="color:red">
    @ViewData["MENSAJE"]
</h1>

